body
{
  background-color:#EDE4E0;
}
hr
{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
textarea
{
  border-style: none;
  border-top-left-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
border-top-right-radius: 80px 80px;
border-bottom-left-radius: 80px 80px;

}
input
{
  border-style: none;
  border-top-left-radius: 30px 40px;
  border-bottom-right-radius: 30px 40px;
border-top-right-radius: 30px 40px;
border-bottom-left-radius: 30px 40px;

}
h2
{
  color: #EF9A53;
  text-decoration: underline;

}
h3
{
  color: #EF9A53;
  text-decoration: underline;

}
h1
{
    color: #EF9A53;
}
